include *.md
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include examples *.gif
recursive-include examples *.ipynb
recursive-include test *.py
